/* ===============================
base
=============================== */
body {
    font-family: 'Sawarabi Gothic', sans-serif;
    line-height: 1.6;
}

.site-width {
    width: 980px;
    margin: 0 auto;
}

/* ===============================
ヘッダー
=============================== */
.header {
    overflow: hidden;
    height: 80px;
}

.header h1 {
    font-size: 28px;
    line-height: 80px;
    float: left;
    margin-left: 15px;
    font-family: 'Sigmar One', cursive;
}

.header h1 a {
    text-decoration: none;
    color: #000;
}

.top-img {
    width: 100%;
    height: 650px;
    object-fit: cover;
}

#top-nav {
    width: 400px;
    float: right;
    height: 80px;
    position: relative;
}
#top-nav ul {
    width: 100%;
    height: 100%;
}

#top-nav ul li {
    font-size: 14px;
    float: left;
    list-style-type: none;
    margin-left: 15px;
    padding: 5px 10px;
    line-height: 80px;
}

#top-nav a {
    text-decoration: none;
    color: #000;
    transition: .5s transform;
}

#top-nav a:hover {
    color: #1dbb2a;
    transition: .5s transform;
}